body {
    font-family: "Open Sans", serif;
    margin: 0;
}

audio {
    width: 200px;
}

.content {
    flex: 1;
    background: url(assets/main_2.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0.8;
    min-height: 500px;
    display: flex;
}

.stateicon {
    margin: auto;
}

#stateicon {
    padding-top: 5rem;
    display: block;
    margin: auto;
    cursor: pointer;
    height: 10rem;
}

#stateicon:hover {
    opacity: 0.7;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    padding-left: 1rem;
    height: 100px;
    background-color: #f8f8f8;
    display: flex;
}

.headerContent {
    height: 100px;
}

.logo {
    height: 100px;
    background: url(assets/RandevuLogo.svg) no-repeat;
    background-size: contain;
}

.logo {
    width: 300px;
}

.footer {
    color: #f8f8f8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brick {
    line-height: 0.5;
    color: #f7f2f3;
    text-align: left;
    font-size: 0.7rem;
    padding-left: 2rem;
    display: flex;
    min-width: 400px;
}

.brickContent {
    margin: auto;
}

.social {
    font-size: 2rem;
    min-width: 145px;
}

.years {
    min-width: 140px;
}

.copyright {

}

.contacts {

}

.socialIcon {
    color: #fbfbfb;
}

.socialIcon:hover {
    color: #d5d5d5;
}